@import "./assets/reset.css";
@import  url("https://fonts.googleapis.com/css?family=Neucha&display=swap");

:root {
  --brand-color: #454444;
}

.home {
  font-family: 'Neucha', cursive;
  font-size: calc(20px + 2vmin);
  color: var(--brand-color);

  background-image: url("./assets/img/backgrounds/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  text-align: center;
  letter-spacing: 2px;

}

aside {
  position: absolute;
  font-size: calc(10px + 1vmin);
  bottom: 5px;
  right: 5px;
}